<script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/dataTables.tableTools.min.js') }}"></script>
<link type='text/css'
      href="{{ url_for('static', filename='css/jquery.dataTables.css') }}" rel='stylesheet'/>
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/dataTables.tableTools.min.css') }}"/>

<!-- For bootstrap -->
<script type="text/javascript"
        src="{{ url_for('static', filename='js/dataTables.bootstrap.js') }}"></script>
<link type='text/css'
      href="{{ url_for('static', filename='css/dataTables.bootstrap.css') }}" rel='stylesheet'/>
